<div class="main">
  <div class="first">
    <div *ngFor="let lvl of arr; index as i" class="first2">

        <input *ngFor="let lvl2 of lvl; index as j" [(ngModel)]="model[i][j]" name="some">

    </div>
    <button (click)="bClick()">b</button>
    <button (click)="rClick()">r</button>
  </div>



  <div class="second">
    <div *ngFor="let lvl of arr2; index as i" class="second2">

      <input *ngFor="let lvl2 of lvl; index as j" [(ngModel)]="model2[i][j]" name="some2">

    </div>
    <button (click)="bClick2()">b2</button>
    <button (click)="rClick2()">r2</button>
  </div>




  <div class="select">
  <select [(ngModel)]= "sel" (change)=onSelect() >//
    <option value="sum">SUM</option>
    <option value="minus">MINUS</option>
    <option value="multy">MULTY</option>
    <option value="del">DEL</option>
  </select>
  </div>

  <div class="third">
    <div *ngFor="let lvl of arr3; index as i" class="second2">

      <input type="text" *ngFor="let lvl2 of lvl; index as j" [(ngModel)]="model3[i][j]" name="some3">  <!--[(ngModel)]="arr3[i][j]"-->

    </div>
  </div>
</div>
